.message {
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    max-width: 1440px;
    margin: 50px auto;

    hr {
      height: 0;
      border: 1px solid rgb(232, 230, 230);
      margin-bottom: 20px;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      @media (max-width: 576px) {
        flex-direction: column;
      }

      textarea {
        width: 80%;
        height: 100px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        @media (max-width: 576px) {
          width: 100%;
        }
      }

      button {
        background-color: #1dbf73;
        padding: 20px;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        width: 15%;
        @media (max-width: 576px) {
          width: 50%;
        }
      }
    }
  }

  &__breadcrumbs {
    font-weight: 300;
    color: #555;
  }

  &__messages {
    margin: 30px 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    overflow: scroll;

    .item {
      display: flex;
      gap: 20px;
      max-width: 600px;
      font-size: 18px;

      &.owner {
        flex-direction: row-reverse;
        align-self: flex-end;

        p {
          max-width: 500px;
          border-radius: 20px 0px 20px 20px;
          background-color: royalblue;
          color: white;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      p {
        max-width: 500px;
        padding: 20px;
        background-color: rgb(244, 241, 241);
        border-radius: 0px 20px 20px 20px;
        color: gray;
        font-weight: 300;
      }
    }
  }
}
