.messages {
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    max-width: 1440px;
    margin: auto;

    table {
      border-collapse: collapse;
      width: 100%;

      td,
      th {
        border: 1px solid #beb5b5;
        text-align: center;
        padding: 20px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      button {
        background-color: #1dbf73;
        color: white;
        padding: 8px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }

  &__active {
    background-color: #1dbf730f;
  }

  pre {
    color: red;
    font-size: 14px;
    text-align: center;
  }
}
