.featured {
  max-height: 600px;
  display: flex;
  justify-content: center;
  background-color: #013914;
  color: white;
  padding: 0 60px;

  @media (max-width: 1024px) {
    padding: 60px;
  }

  @media (max-width: 768px) {
    padding: 60px 40px;
  }

  @media (max-width: 576px) {
    padding: 40px 20px;
  }

  .featured__container {
    max-width: 1400px;
    display: flex;
    gap: 20px;
    align-items: center;

    .featured__left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 1;

      h1 {
        font-size: 50px;

        @media (max-width: 768px) {
          font-size: 40px;
        }

        @media (max-width: 576px) {
          font-size: 30px;
        }

        span {
          font-style: italic;
          font-weight: 300;
        }
      }

      .featured__search {
        display: flex;
        align-items: stretch;
        overflow: hidden;
        border-radius: 5px;

        @media (max-width: 576px) {
          flex-direction: column;
          gap: 10px;
        }

        .featured__searchInput {
          background-color: white;
          display: flex;
          align-items: center;
          gap: 10px;
          flex: 1;
          @media (max-width: 576px) {
            border-radius: 5px;
          }

          img {
            padding: 10px;

            @media (max-width: 576px) {
              height: 40px;
              width: 40px;
            }
          }

          input {
            border: none;
            outline: none;
            flex: 1;

            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          border: none;
          background-color: #1dbf73;
          color: white;
          padding: 10px 30px;
          @media (max-width: 576px) {
            border-radius: 5px;
          }
        }
      }

      .featured__popular {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 576px) {
          display: none;
        }

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;

          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }

    .featured__right {
      flex: 1;
      img {
        object-fit: contain;
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.trusted {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    display: none;
  }

  .trusted__container {
    max-width: 760px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(200, 200, 200);
    font-weight: 500;

    img{
      height: 50px;
      object-fit: contain;
    }
  }
}
