.footer {
  display: flex;
  justify-content: center;
  color: #666;
  margin: 6em auto 2em;

  @media (max-width: 768px) {
    margin: 0 auto 2em;
  }

  img {
    width: 24px;
    height: 24px;
  }

  &__container {
    width: 90%;
    max-width: 1440px;

    @media (max-width: 1024px) {
      width: 95%;
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #ebe9e9;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      gap: 20px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 150px;
    h2 {
      font-size: 16px;
      color: #555;
    }
    span {
      font-weight: 300;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }

    &-left {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        font-size: 13px;
        white-space: nowrap;
      }
    }
    &-right {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 30px;
      @media (max-width: 768px) {
        gap: 20px;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }

    &-social {
      display: flex;
      gap: 20px;
      @media (max-width: 768px) {
        gap: 10px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
