.reviews {
  margin-top: 50px;

  &__add {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;

    @media (max-width: 768px) {
      width: 80%;
    }

    @media (max-width: 576px) {
      width: 95%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 20px;
        border: none;
        border-radius: 5px;
      }

      select {
        padding: 10px;
        width: max-content;
        border: none;
        border-radius: 5px;
      }

      pre {
        color: red;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
