.spinner__wrapper {
  height: 100%;
  width: 100%;
  min-height: 60px;
  max-height: 100px;
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

  &-con {
    display: inline-block;
    position: relative;

    &.button-spinner {
      width: 18px;
      height: 18px;
    }

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      border: 3px solid;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #1dbf73 transparent transparent transparent;

      &.button-spinner {
        border-color: white transparent transparent transparent;
        width: 18px;
        height: 18px;
      }
    }

    div:nth-child(1) {
      animation-delay: -0.45s;
    }

    div:nth-child(2) {
      animation-delay: -0.3s;
    }

    div:nth-child(3) {
      animation-delay: -0.15s;
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
